@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;600&family=Noto+Serif+KR:wght@400;500;600&display=swap");
* {
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  color: #333;
  text-transform: capitalize;
  word-break: keep-all;
}

#test {
  width: 200px;
  position: absolute;
  background: yellowgreen;
  z-index: 1;
  height: 200px;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: #333;
}

a:hover {
  color: #e99691;
}

@keyframes banner_text {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes banner_img {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

::selection {
  color: #fff;
  background: #b36960;
}

.br_befor {
  display: block;
}

.br_after {
  display: none;
}

.more_btn {
  display: inline-block;
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid #333;
  padding: 5px 40px;
  transition: all 0.3s ease-in-out;
}

.more_btn:hover {
  color: #fff;
  background: #b36960;
  border: 1px solid transparent;
}

.inner {
  position: relative;
  width: 1180px;
  margin: auto;
}

.hover {
  transition: transform .3s ease-in-out;
}

.hover:hover {
  transform: translateY(-10px);
}

input[type=checkbox] {
  display: none;
}

body {
  line-height: 1.77;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  transition: all .3s ease-in-out;
}

header #gnb_btn {
  position: fixed;
  display: none;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  z-index: 500;
}

header #gnb_btn div.btn_wrap {
  position: relative;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

header #gnb_btn span {
  position: absolute;
  display: inline-block;
  right: 0;
  height: 2px;
  background: #fff;
  transition: .4s;
}

header #gnb_btn span:nth-of-type(1) {
  top: 2px;
  width: 16px;
}

header #gnb_btn span:nth-of-type(2) {
  top: 9px;
  width: 20px;
}

header #gnb_btn span:nth-of-type(3) {
  bottom: 2px;
  width: 16px;
}

header #gnb_btn.on span:nth-of-type(1) {
  transform: translate(-2px, -2px) rotate(45deg);
  transform-origin: left top;
}

header #gnb_btn.on span:nth-of-type(2) {
  transform: rotate(-45deg) scale(1.3, 1.1);
}

header #gnb_btn.on span:nth-of-type(3) {
  transform: translateY(2px) rotate(45deg);
  transform-origin: right;
}

header .logo {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 35px;
  transition: all .3s ease-in-out;
}

header .logo a {
  display: block;
  position: relative;
  padding: 15px;
  width: 90px;
  height: 35px;
  font-size: 0;
  transition: all .3s ease-in-out;
}

header .logo a:before, header .logo a:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center / 90px 35px;
  opacity: 1;
  transition: all .3s ease-in-out;
}

header .logo a:before {
  background-image: url("../img/headlogo.png");
}

header .logo a:after {
  background-image: url("../img/headlogo_hover.png");
  opacity: 0;
}

header #gnb {
  text-align: right;
  transition: all .3s ease-in-out;
}

header #gnb li {
  display: inline-block;
  position: relative;
  height: 100px;
}

header #gnb li a {
  display: inline-block;
  position: relative;
  padding: 0 25px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  font-size: 16px;
  transition: all .3s ease-in-out;
}

header #gnb li a h1 {
  display: none;
}

header.on, header:hover {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

header.on .logo a:before, header:hover .logo a:before {
  opacity: 0;
}

header.on .logo a:after, header:hover .logo a:after {
  opacity: 1;
}

header.on #gnb_btn span, header:hover #gnb_btn span {
  background: #b36960;
}

header.on #gnb li a, header:hover #gnb li a {
  color: #333;
}

header.on #gnb li a:hover, header:hover #gnb li a:hover {
  color: #e99691;
}

.deco_wrap {
  position: relative;
}

.deco_wrap img {
  position: absolute;
  display: block;
  z-index: 5;
}

.deco_wrap .deco1 {
  top: -470px;
  right: 10vw;
}

.deco_wrap .deco2 {
  top: 100px;
  left: 21vw;
}

.deco_wrap .deco3 {
  top: 35vw;
  right: 17vw;
}

.deco_wrap .deco4 {
  top: 550px;
  right: 40vw;
}

#home {
  padding: 0;
}

#home .bx-wrapper {
  overflow: hidden;
  border: none;
  margin: 0;
}

#home .bx-controls {
  width: 1180px;
  position: relative;
  margin: auto;
}

#home .bx-controls .bx-pager {
  position: absolute;
  margin: auto;
  width: 1180px;
  left: 50%;
  bottom: 110px;
  text-align: left;
  transform: translateX(-50%);
  box-sizing: border-box;
}

#home .bx-controls .bx-pager-link {
  position: relative;
  margin-right: 25px;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.6);
}

#home .bx-controls .bx-pager-link.active {
  background: #fff;
}

#home .bx-controls .bx-pager-link.active:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 12px;
  height: 12px;
  border: 2px solid #ddd;
  border-radius: 100%;
}

#home .slider_list {
  position: relative;
  width: 100%;
  height: 750px;
}

#home .slider_list .slider_text {
  position: absolute;
  margin-top: 31%;
  z-index: 1;
}

#home .slider_list .slider_text p {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  animation: banner_text 1s ease-in-out .5s both;
}

#home .slider_list .slider_text h2 {
  font-family: 'Noto Serif KR', serif;
  color: #fff;
  font-size: 70px;
  font-weight: normal;
  line-height: 1.2;
  animation: banner_text 1s ease-in-out .9s both;
}

#home .slider_list .slider_text h2.fontsize60 {
  font-size: 60px;
}

#home .slider_list .list_bg {
  width: 100%;
  height: 750px;
  background: center / cover;
  animation: banner_img 3s .5s ease-in-out both;
}

#home .slider_list .list_bg_01 {
  background-image: url("../img/visual01.jpg");
}

#home .slider_list .list_bg_02 {
  background-image: url("../img/visual02.jpg");
}

#home .slider_list .list_bg_03 {
  background-image: url("../img/visual03.jpg");
}

section {
  position: relative;
  padding: 140px 0 140px;
  min-height: 200px;
}

section .inner {
  display: block;
}

section .inner .section_title {
  text-align: center;
  margin-bottom: 60px;
}

section .inner .section_title p:first-child {
  color: #b36960;
  font-size: 16px;
}

section .inner .section_title h3 {
  font-family: 'Noto Serif KR', serif;
  font-size: 60px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

section .inner .section_title h3 + p {
  margin-bottom: 40px;
  letter-spacing: -1px;
}

section .inner .list_wrap {
  overflow: visible;
  display: inline-block;
  position: relative;
  height: 100%;
}

section .inner .list_wrap li {
  float: left;
  position: relative;
  text-align: left;
  width: 278px;
}

section .inner .list_wrap li:not(:first-child) {
  margin-left: 22px;
}

section .inner .list_wrap li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section .inner .list_wrap li a img {
  display: block;
  width: 100%;
}

section .inner .list_wrap li a div {
  margin-top: 10px;
}

section .inner .list_wrap li a div p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

section .inner .list_wrap li a div p + p {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

#signature .inner {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

#signature .inner .section_title {
  margin: 0;
  width: 485px;
  text-align: left;
}

#signature .inner .section_img {
  width: 695px;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

#signature .inner .section_img img {
  width: 100%;
}

#clinic {
  background: #fff6f2;
  padding: 140px 0 200px;
}

#clinic .inner .section_title p {
  margin-bottom: 10px;
  color: #b36960;
  font-size: 16px;
  text-transform: capitalize;
}

#clinic .inner .list_wrap {
  width: 100%;
  height: 420px;
}

#clinic .inner .list_wrap li {
  float: left;
  position: relative;
  width: 250px;
}

#clinic .inner .list_wrap li:not(:first-child) {
  margin-left: 60px;
}

#clinic .inner .list_wrap li a {
  display: block;
}

#clinic .inner .list_wrap li a * {
  transition: 0.3s ease-in-out;
}

#clinic .inner .list_wrap li a div {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 25px 20px;
  width: 100%;
  bottom: -80px;
  right: -30px;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#clinic .inner .list_wrap li a div:before {
  content: '+';
  position: absolute;
  margin: -18px -3px 0 0;
  top: 20px;
  right: 20px;
  color: #b36960;
  font-size: 30px;
}

#clinic .inner .list_wrap li a:hover div {
  background: #b36960;
}

#clinic .inner .list_wrap li a:hover div:before, #clinic .inner .list_wrap li a:hover div p {
  color: #fff;
}

#clinic .inner .list_wrap .section_list {
  float: left;
  display: block;
  position: relative;
  width: 250px;
}

#clinic .inner .list_wrap .section_list:not(:first-child) {
  margin-left: 60px;
}

#clinic .inner .list_wrap .section_list img {
  display: block;
  width: 100%;
}

#clinic .inner .list_wrap .section_list div {
  position: absolute;
  display: inline-block;
  padding: 25px 20px;
  width: 100%;
  bottom: -80px;
  right: -30px;
  background: green;
  box-sizing: border-box;
}

#editoressey {
  background: fixed url("../img/bg_05.png") center/cover;
}

#editoressey .section_title * {
  color: #fff;
  text-align: left;
}

#editoressey .essey_bxslider > div {
  position: relative;
}

#editoressey .essey_bxslider .essey_img {
  width: 590px;
  height: 590px;
  background: no-repeat center / cover;
}

#editoressey .essey_bxslider .slider_01 .essey_img {
  background-image: url("../img/essay_01.jpg");
}

#editoressey .essey_bxslider .slider_02 .essey_img {
  background-image: url("../img/essay_02.jpg");
}

#editoressey .essey_bxslider .slider_03 .essey_img {
  background-image: url("../img/essay_03.jpg");
}

#editoressey .essey_bxslider .slider_04 .essey_img {
  background-image: url("../img/essay_04.jpg");
}

#editoressey .essey_bxslider .essey_text {
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: 2%;
  width: 590px;
  padding: 80px 60px;
  background: #fff;
  box-sizing: border-box;
}

#editoressey .essey_bxslider .essey_text img {
  display: inline;
  width: 60px;
  vertical-align: middle;
}

#editoressey .essey_bxslider .essey_text span {
  color: #e99691;
}

#editoressey .essey_bxslider .essey_text .essey_title {
  margin-top: 40px;
  font-family: 'Noto Serif KR', serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
}

#editoressey .essey_bxslider .essey_text .essey_title + p {
  margin-top: 20px;
  text-align: justify;
  letter-spacing: -1px;
}

#editoressey .essey_bxslider .essey_text .more_txt {
  float: right;
  margin-top: 30px;
  color: #e99691;
}

#editoressey .bx-wrapper {
  border: none;
  background: none;
  box-shadow: none;
}

#editoressey .bx-wrapper .bx-viewport {
  overflow: visible;
}

#editoressey .bx-wrapper .bx-pager {
  bottom: -52px;
  text-align: left;
}

#editoressey .bx-wrapper .bx-pager .bx-pager-link {
  position: relative;
  margin: 0;
  width: 110px;
  height: 30px;
  background: none;
}

#editoressey .bx-wrapper .bx-pager .bx-pager-link:before {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}

#editoressey .bx-wrapper .bx-pager .bx-pager-link.active:before {
  background: rgba(255, 255, 255, 0.9);
}

#editoressey .bx-wrapper .bx-controls-direction a {
  margin-top: 21px;
  top: auto;
  left: 471px;
}

#editoressey .bx-prev {
  background: url("../img/slick_prev.png") no-repeat center/11px 19px;
}

#editoressey .bx-next {
  margin-left: 32px;
  background: url("../img/slick_next.png") no-repeat center/11px 19px;
}

#notice .inner .list_wrap li:first-child a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: url("../img/icon_notice.png") no-repeat center/cover;
}

#notice:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: #f3f3f9;
}

.top_button_wrap {
  position: fixed;
  margin-bottom: 20px;
  right: 20px;
  bottom: 0px;
  z-index: 5;
}

.top_button_wrap.fixed {
  position: absolute;
  bottom: 100%;
}

.top_button_wrap.fixed .schedule {
  position: absolute;
  transform: translate(20px, 20px);
}

.top_button_wrap > a {
  display: block;
  border-radius: 100%;
  background: #905e58;
  border: 1px solid #905e58;
  width: 60px;
  box-sizing: border-box;
}

.top_button_wrap > a:not(:first-child) {
  margin-top: 10px;
}

.top_button_wrap > a img {
  display: block;
  width: 100%;
}

.screen_black {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.schedule {
  display: none;
  position: fixed;
  padding: 20px;
  width: 140px;
  right: 51px;
  bottom: 120px;
  text-align: left;
  color: #666;
  font-size: 16px;
  background: #fff;
  z-index: 100;
  line-height: 1.77;
}

.schedule * {
  text-align: left;
  font-size: 16px;
  line-height: 1.77;
}

.schedule p {
  color: #333;
}

.schedule .separation {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}

.schedule .operating {
  display: block;
  position: absolute;
  bottom: -30px;
  right: -31px;
  width: 60px;
}

.schedule .operating:not(:first-child) {
  margin-top: 10px;
}

.schedule .operating img {
  display: block;
  width: 100%;
}

footer {
  position: relative;
}

footer * {
  text-transform: none;
}

footer .footer_top {
  padding: 17px 0;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

footer .footer_top a {
  transition: color .3s ease-in-out;
}

footer .footer_top a:hover {
  color: #b36960;
}

footer .footer_top a:not(:first-child) {
  margin-left: 10px;
}

footer .footer_top a strong:hover {
  color: #b36960;
}

footer .footer_bottom {
  padding: 30px 0;
}

footer .footer_bottom .inner {
  display: flex;
  justify-content: space-between;
}

footer .footer_bottom .footer_logo {
  width: 220px;
}

footer .footer_bottom .footer_logo img {
  margin-top: 6px;
  height: 40px;
}

footer .footer_bottom .footer_text, footer .footer_bottom address, footer .footer_bottom a {
  color: #999;
  display: inline;
  font-style: normal;
  transition: color .3s ease-in-out;
}

footer .footer_bottom .footer_text a:hover, footer .footer_bottom address a:hover, footer .footer_bottom a a:hover {
  color: #b36960;
}

footer .footer_bottom .footer_text {
  flex: 1;
}

footer .footer_bottom .footer_text span {
  position: relative;
  color: #000;
}

footer .footer_bottom .footer_text span:before {
  content: '|';
  display: inline-block;
  text-align: center;
  color: #999;
  width: 20px;
}

footer .footer_bottom .footer_text span:nth-of-type(1):before, footer .footer_bottom .footer_text span:nth-of-type(4):before {
  display: none;
}

footer .footer_bottom .sns {
  display: flex;
  align-items: flex-end;
}

footer .footer_bottom .sns a {
  display: inline-block;
  padding: 5px 5px 0px;
}

footer .footer_bottom .sns a img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.ts {
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.ts.active {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 1320px) {
  #clinic .inner {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
  #clinic .section_img {
    width: 100%;
    height: auto;
  }
  #clinic .list_wrap {
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
    height: 420px;
  }
  #clinic .list_wrap ul {
    width: 1220px;
  }
  #clinic .list_wrap li {
    width: 250px;
  }
}

@media screen and (max-width: 1280px) {
  body {
    overflow-x: hidden;
  }
  .more_btn {
    padding: 5px 30px;
    font-size: 16px;
  }
  header {
    height: 80px;
  }
  header .logo {
    left: 10px;
    top: 10px;
  }
  header .logo a {
    width: 78px;
    height: 30px;
  }
  header .logo a:before, header .logo a:after {
    background-size: 78px 30px;
  }
  header #gnb li {
    height: 80px;
  }
  header #gnb li a {
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
  }
  #home .bx-controls {
    width: auto;
  }
  #home .bx-controls .bx-pager {
    padding: 0 20px;
    width: 100%;
  }
  #home .slider_list {
    height: 700px;
  }
  #home .slider_list .slider_text {
    margin-top: 360px;
  }
  #home .slider_list .slider_text p {
    font-size: 16px;
  }
  #home .slider_list .slider_text h2 {
    font-size: 50px;
  }
  #home .slider_list .slider_text h2.fontsize60 {
    font-size: 50px;
  }
  section {
    padding: 100px 0;
  }
  section .inner .section_title {
    margin-bottom: 45px;
    margin-bottom: 0px;
  }
  section .inner .section_title h3 {
    font-size: 45px;
    margin-bottom: 17px;
  }
  section .inner .list_wrap {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  section .inner .list_wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  section .inner .list_wrap li {
    flex: 0 40%;
    margin-bottom: 25px;
  }
  section .inner .list_wrap li:not(:first-child) {
    margin-left: 0px;
  }
  section .inner .list_wrap li a div p {
    font-size: 16px;
  }
  section .inner .list_wrap li a div p + p {
    font-size: 16px;
  }
  #signature .inner {
    align-items: center;
  }
  #signature .inner .section_img {
    height: auto;
  }
  #clinic {
    padding: 100px 0 140px;
  }
  #clinic .inner {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
  #clinic .inner .list_wrap {
    overflow-x: scroll;
    overflow-y: visible;
    display: inline-block;
    width: 100%;
    height: 420px;
    text-align: left;
  }
  #clinic .inner .list_wrap ul {
    width: 1220px;
    display: inline-block;
  }
  #clinic .inner .list_wrap li {
    width: 250px;
  }
  #clinic .inner .list_wrap li a div:before {
    top: 28px;
    right: 28px;
    font-size: 26px;
  }
  #clinic .section_img {
    width: 100%;
    height: auto;
  }
  #editoressey .essey_bxslider .essey_img {
    width: 550px;
    height: 550px;
  }
  #editoressey .essey_bxslider .essey_text {
    right: 12%;
    width: 500px;
  }
  #editoressey .essey_bxslider .essey_text .essey_title {
    margin-top: 35px;
    font-size: 25px;
  }
  #editoressey .essey_bxslider .essey_text .more_txt {
    margin-top: 20px;
  }
  #notice:before {
    display: none;
  }
  footer * {
    line-height: 2.2;
    font-size: 14px;
    text-align: center;
  }
  footer .footer_top {
    padding: 10px 0;
  }
  footer .footer_bottom {
    padding: 35px 0;
  }
  footer .footer_bottom .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
  footer .footer_bottom .footer_logo img {
    margin-top: 0px;
  }
  footer .footer_bottom .footer_text {
    margin-top: 10px;
  }
  footer .footer_bottom .footer_text span:nth-of-type(2):before, footer .footer_bottom .footer_text span:nth-of-type(6):before {
    display: none;
  }
  footer .footer_bottom .sns {
    margin-top: 5px;
  }
  footer .footer_bottom .sns a {
    margin: 0 10px;
  }
  .inner {
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .br_befor {
    display: none;
  }
  .br_after {
    display: block;
  }
  .deco_wrap {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .br_befor {
    display: none;
  }
  .br_after {
    display: block;
  }
  input[type=checkbox]:checked ~ #gnb {
    display: block;
  }
  header {
    height: 60px;
  }
  header .logo {
    top: 0;
  }
  header #gnb_btn {
    display: block;
  }
  header #gnb {
    display: none;
    position: absolute;
    padding: 20px 30px 40px;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    transition: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  header #gnb ul {
    width: 100%;
  }
  header #gnb li {
    height: auto;
    display: flex;
    border-bottom: 1px solid #eee;
  }
  header #gnb li a {
    text-align: center;
    width: 100%;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }
  #home .bx-controls .bx-pager {
    padding: 0 20px;
    width: 100%;
  }
  #home .bx-controls .bx-pager-link {
    width: 12px;
    height: 12px;
  }
  #home .bx-controls .bx-pager-link.active:before {
    top: -5px;
    left: -5px;
    width: 18px;
    height: 18px;
  }
  #home .slider_list {
    height: 700px;
  }
  #home .slider_list .slider_text {
    margin-top: 340px;
  }
  #home .slider_list .slider_text p {
    font-size: 14px;
  }
  #home .slider_list .slider_text h2 {
    font-size: 30px;
  }
  #home .slider_list .slider_text h2.fontsize60 {
    font-size: 30px;
  }
  #home .slider_list .list_bg_01 {
    background-image: url("../img/visual01_m.jpg");
  }
  #home .slider_list .list_bg_02 {
    background-image: url("../img/visual02_m.jpg");
  }
  #home .slider_list .list_bg_03 {
    background-image: url("../img/visual03_m.jpg");
  }
  section {
    padding: 50px 0;
  }
  section .inner .section_title {
    margin-bottom: 30px;
  }
  section .inner .section_title h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  section .inner .section_title h3 + p {
    font-size: 14px;
    margin-bottom: 0px;
  }
  section .inner .list_wrap ul {
    flex-direction: column;
    justify-content: center;
  }
  section .inner .list_wrap li:not(:first-child) {
    margin-left: 0px;
  }
  section .inner .list_wrap li a div p {
    font-size: 14px;
  }
  section .inner .list_wrap li a div p + p {
    font-size: 14px;
  }
  #signature .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  #signature .inner .section_title {
    width: auto;
  }
  #clinic {
    padding: 50px 0 70PX;
  }
  #clinic .inner {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
  #clinic .section_img {
    width: 100%;
    height: auto;
  }
  #clinic .list_wrap {
    overflow-x: scroll;
    overflow-y: visible;
    display: inline-block;
    width: 100%;
    height: 420px;
    text-align: left;
  }
  #clinic .list_wrap ul {
    width: 1220px;
    display: inline-block;
  }
  #clinic .list_wrap li {
    width: 250px;
  }
  #editoressey .essey_bxslider .essey_img {
    width: auto;
    height: 400px;
  }
  #editoressey .essey_bxslider .essey_text {
    position: relative;
    width: auto;
    padding: 20px;
    top: auto;
    left: 0;
  }
  #editoressey .essey_bxslider .essey_text * {
    font-size: 14px;
  }
  #editoressey .essey_bxslider .essey_text span {
    color: #e99691;
  }
  #editoressey .essey_bxslider .essey_text .essey_title {
    margin-top: 30px;
    font-size: 20px;
  }
  #editoressey .essey_bxslider .essey_text .more_txt {
    margin-top: 10px;
  }
  #editoressey .bx-wrapper {
    border: none;
    background: none;
    box-shadow: none;
  }
  #editoressey .bx-wrapper .bx-viewport {
    overflow: visible;
    height: auto;
  }
  #editoressey .bx-wrapper .bx-controls-direction {
    display: none;
  }
  #editoressey .bx-wrapper .bx-pager {
    position: relative;
    padding: 0;
    top: 0;
    bottom: auto;
    text-align: left;
  }
  #editoressey .bx-wrapper .bx-pager .bx-pager-item {
    width: 25%;
  }
  #editoressey .bx-wrapper .bx-pager .bx-pager-link {
    position: relative;
    margin: 0;
    width: 100%;
    height: 30px;
    background: none;
  }
  #editoressey .bx-wrapper .bx-pager .bx-pager-link:before {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
  }
  #editoressey .bx-wrapper .bx-pager .bx-pager-link.active:before {
    background: rgba(255, 255, 255, 0.9);
  }
  footer * {
    font-size: 12px;
  }
  footer .footer_top {
    padding: 6px 0;
  }
  footer .footer_bottom {
    padding: 40px 0;
  }
  footer .footer_bottom .footer_text {
    margin-top: 15px;
  }
  footer .footer_bottom .sns {
    margin-top: 10px;
  }
  .inner {
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 12vw;
  }
  header .logo {
    left: 1vw;
    top: 50%;
    transform: none;
  }
  header .logo a {
    width: 13vw;
    height: 6vw;
    padding: 3vw;
  }
  header .logo a:before, header .logo a:after {
    background-size: 13vw 5vw;
  }
  header #gnb {
    top: 12vw;
  }
  header #gnb li {
    height: 12vw;
  }
  header #gnb li a {
    padding: 0 3vw;
    height: 12vw;
    line-height: 12vw;
    font-size: 3.2vw;
  }
  header.on, header:hover {
    box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
  }
  header #gnb_btn {
    width: 12vw;
    height: 12vw;
  }
  header #gnb_btn div.btn_wrap {
    position: relative;
    top: 50%;
    left: 50%;
    width: 4vw;
    height: 3.2vw;
  }
  header #gnb_btn span {
    height: 0.4vw;
  }
  header #gnb_btn span:nth-of-type(1) {
    width: 3.2vw;
  }
  header #gnb_btn span:nth-of-type(2) {
    top: 1.4vw;
    width: 4vw;
  }
  header #gnb_btn span:nth-of-type(3) {
    width: 3.2vw;
  }
  #home .bx-controls .bx-pager {
    padding: 0 4vw;
    bottom: 22vw;
  }
  #home .bx-controls .bx-pager-link {
    width: 2.4vw;
    height: 2.4vw;
  }
  #home .bx-controls .bx-pager-link.active:before {
    top: -1vw;
    left: -1vw;
    width: 3.6vw;
    height: 3.6vw;
  }
  #home .slider_list {
    height: 140vw;
  }
  #home .slider_list .slider_text {
    margin-top: 68vw;
  }
  #home .slider_list .slider_text p {
    font-size: 2.8vw;
  }
  #home .slider_list .slider_text h2 {
    font-size: 6vw;
  }
  #home .slider_list .slider_text h2.fontsize60 {
    font-size: 6vw;
  }
  #home .slider_list .list_bg {
    height: 150vw;
  }
  section {
    padding: 5vw 0;
  }
  section .inner .section_title {
    margin-bottom: 6vw;
  }
  section .inner .section_title p:first-child {
    font-size: 3.2vw;
  }
  section .inner .section_title h3 {
    font-size: 6vw;
    margin-bottom: 3vw;
  }
  section .inner .section_title h3 + p {
    font-size: 2.8vw;
    margin-bottom: 0px;
  }
  section .inner .list_wrap li {
    margin-bottom: 5vw;
  }
  section .inner .list_wrap li a div {
    margin-top: 2vw;
  }
  section .inner .list_wrap li a div p {
    margin-bottom: 1vw;
    font-size: 2.8vw;
  }
  section .inner .list_wrap li a div p + p {
    font-size: 2.8vw;
  }
  #clinic {
    padding: 5vw 0 14vw;
  }
  #clinic .inner .list_wrap {
    height: 84vw;
  }
  #clinic .inner .list_wrap ul {
    width: 265vw;
  }
  #clinic .inner .list_wrap li {
    width: 50vw;
  }
  #clinic .inner .list_wrap li a div {
    padding: 5vw 4vw;
    bottom: -16vw;
    right: -6vw;
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.1);
  }
  #clinic .inner .list_wrap li a div:before {
    margin: -3.6vw -.6vw 0 0;
    top: 5.6vw;
    right: 5.6vw;
    font-size: 5.2vw;
  }
  #editoressey .essey_bxslider .essey_img {
    width: auto;
    height: 80vw;
  }
  #editoressey .essey_bxslider .essey_text * {
    font-size: 2.8vw;
  }
  #editoressey .essey_bxslider .essey_text .essey_title {
    margin-top: 6vw;
    font-size: 4vw;
  }
  #editoressey .essey_bxslider .essey_text .more_txt {
    margin-top: 5vw;
  }
  #editoressey .bx-wrapper .bx-pager .bx-pager-item {
    width: 25%;
  }
  #editoressey .bx-wrapper .bx-pager .bx-pager-link {
    height: 6vw;
  }
  #editoressey .bx-wrapper .bx-pager .bx-pager-link:before {
    top: 2.8vw;
  }
  .top_button_wrap {
    margin-bottom: 4vw;
    right: 4vw;
  }
  .top_button_wrap a {
    display: block;
    width: 12vw;
  }
  .top_button_wrap a:not(:first-child) {
    margin-top: 2vw;
  }
  .top_button_wrap a img {
    display: block;
    width: 100%;
  }
  footer * {
    font-size: 2.4vw;
  }
  footer .footer_top {
    padding: 1.2vw 0;
  }
  footer .footer_top a:not(:first-child) {
    margin-left: 2vw;
  }
  footer .footer_bottom {
    padding: 8vw 0;
  }
  footer .footer_bottom .footer_logo img {
    margin-top: 0px;
    width: 28vw;
    height: 8vw;
  }
  footer .footer_bottom .footer_text {
    margin-top: 3vw;
  }
  footer .footer_bottom .footer_text span:before {
    width: 4vw;
  }
  footer .footer_bottom .sns {
    margin-top: 2vw;
  }
  footer .footer_bottom .sns a {
    margin: 0 2vw;
    padding: 1vw 1vw 0;
  }
  footer .footer_bottom .sns a img {
    width: 5vw;
    height: 5vw;
  }
  .inner {
    padding: 0 4vw;
    width: 100%;
    box-sizing: border-box;
  }
}
